<div
  class="bg-dark-blue w-full h-lg justify-center text-sm items-center text-white p-12"
>
  <div class=" grid-cols-1 md:grid-cols-3 grid place-content-center">
    <div class="grid place-content-center">
        <span class="mb-6">Medios de pago</span>
        <img src="images/Grupo 37584.svg" alt="" />  
    </div>
    <div class="grid place-content-center ">
      <span class="text-center mb-6">Power By:</span>
      <img src="images/Grupo 37584.svg" alt="" />
    </div>
    <div class="text-center">
      <p>Siguenos en redes sociales</p>
    </div>
  </div>
  <div class="justify-center items-center flex flex-col gap-4 my-4">
    <p>Ayuda</p>
    <p class="text-center">Para activar alguna de las asistencias de tu poliza puedes marcar al 018000112684 opcion 1 o #935</p>
    <div class="flex flex-row w-full justify-center gap-8 ">
        <a href="" class="underline">Terminos y condiciones</a>
        <a href="" class="underline">Politicas de privacidad</a>
    </div>
  </div>
</div>
