<header class="px-4 flex flex-row text-white w-full whitespace-nowrap">
  <nav class="flex flex-row justify-between items-center w-full gap-8">
    <div class="flex flex-row gap-4">
      <div>
        <img src="images/segurosmd.svg" alt="" />
      </div>
    </div>
    <ul class="flex flex-row gap-4 w-full text-white list-none justify-center">
      <li class="px-2 justify-center items-center"><a href="">Por que</a></li>
      <li class="px-2 justify-center items-center">
        <a href="">Nuestros planes</a>
      </li>
      <li class="px-2 justify-center items-center"><a href="">Club</a></li>
      <li class="px-2 justify-center items-center">
        <a href="">Quieres mas info</a>
      </li>
      <li class="px-2 justify-center items-center"><a href="">Blog</a></li>
      <li class="px-2 justify-center items-center">
        <a href="">Asistencias</a>
      </li>
    </ul>
    <div class="flex gap-3">
      <button class="border border-white rounded-full text-md p-3">
        CONTÁCTANOS</button
      ><button class="border border-white rounded-full text-md p-3">
        ¡COMPRA TU SEGURO!
      </button>
    </div>
  </nav>
</header>
