<main class="w-full h-svh p-4 bg-primary max-h-svh|">
  <app-navbar />
  <img
    src="images/logo_SEGUROPULUDO_blanco.png"
    alt=""
    style="position: relative; left: 708px; top: 58px"
  />
  <img
    style="
      position: relative;
      left: 444px;
      top: -161px;
      transition: none;
      cursor: move;
    "
    src="images/PERRO-GLOBOS.png"
    alt=""
  />
  <img
    src="images/nube.png"
    alt="dsfsfd"
    style="
      position: absolute;
      left: 165px;
      top: -272px;
      transition: none;
      cursor: move;
    "
  />
  <img
    src="images/GATO-BLANCOv2-1.png"
    alt=""
    style="position: relative; left: 498px; top: -128px"
  />
  <img
    src="images/Grupo37891.svg"
    alt=""
    style="
      position: relative;
      left: 751px;
      top: -318px;
      transition: none;
      cursor: move;
    "
  />
  <img
    src="images/kv_SEGUROPELUDO_Perro_Doberman.png"
    style="position: relative; left: 1132px; top: -564px"
    alt=""
  />
  <div class="w-full flex-col">
    <button
      style="
        position: relative;
        left: 783px;
        top: -569px;
        width: 241.233px;
        transition: none;
        cursor: move;
      "
      class="bg-yellow rounded-full text-dark-blue p-3"
    >
      COMPRA TU SEGURO!
    </button>
    <button
      style="
        position: relative;
        left: 544px;
        top: -501px;
        width: 240.05px;
        transition: none;
        cursor: move;
      "
      class="bg-dark-blue text-white p-3 rounded-full"
    >
      CONOCE MAS
    </button>
  </div>
</main>
