
@import "tailwindcss";

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
 
  
  @font-face {
    font-family: "Ubuntu" ;
    src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 600 ;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('/fonts.woff2') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Medium.ttf") format("truetype");

  }

*{
    font-family: "Ubuntu" ;
}

:root {


    /* Colors: */
    --unnamed-color-46bccb: #46BCCB;
    --unnamed-color-f5fcff: #F5FCFF;
    --unnamed-color-8b8b8b: #8B8B8B;
    --unnamed-color-434242: #434242;
    --red_1_-ff5a84: #FF5A84;
    --blue_1_-f0f6f9: #F0F6F9;
    --blue_2_-8ddeee: #8DDEEE;
    --blue_3_-27d6eb: #27D6EB;
    --blue_4_-008bd4: #008BD4;
    --blue_5_-133447: #133447;
    --gray_1_-b8c4c8: #B8C4C8;
    --gray_2_-d6d6d6: #D6D6D6;
    --gray_3_-cccccc: #CCCCCC;
    --gray_4_-9d9999: #9D9999;
    --gray_5_-6c757d: #6C757D;
    --yellow_1_-ffdd5f: #FFDD5F;
    --yellow_2_-f8c845: #F8C845;
    --yellow_3_-faba0a: #FABA0A;
    --white_-ffffff: #FFFFFF;
    --unnamed-color-20d6eb: #20D6EB;
    --unnamed-color-123446: #123446;
    --unnamed-color-23d6eb: #23D6EB;
    
    /* Font/text values */
    --unnamed-font-family-ubuntu: Ubuntu ;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-300: 300px;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-40: 40px;
    --unnamed-font-size-56: 56px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-26: 0.26px;
    --unnamed-line-spacing-16: 16px;
    --unnamed-line-spacing-18: 18px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-64: 64px;
    }
    

    
    /* Character Styles */
    .ubuntu-—-14pt-text {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blue_5_-133447);
    }
    .ubuntu-—-14pt-text {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blue_5_-133447);
    }
    .ubuntu-—-14pt-text {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blue_3_-27d6eb);
    }
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--gray_4_-9d9999);
    }
    .ubuntu-—-12pt-inputs {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--gray_4_-9d9999);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-16);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-123446);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0-26);
    color: var(--blue_5_-133447);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--red_1_-ff5a84);
    }
    .ubuntu-—-16pt-inputs {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--gray_4_-9d9999);
    }
    .ubuntu-—-16pt-inputs {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blue_5_-133447);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blue_4_-008bd4);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blue_5_-133447);
    }
    .unnamed-character-style-7 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-23d6eb);
    }
    .unnamed-character-style-8 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--gray_5_-6c757d);
    }
    .unnamed-character-style-9 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blue_5_-133447);
    }
    .unnamed-character-style-10 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blue_5_-133447);
    }
    .unnamed-character-style-11 {
    font-family: var(--unnamed-font-family-ubuntu);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-56);
    line-height: var(--unnamed-line-spacing-64);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-20d6eb);
    }




@theme{
    --color-primary: #27d6eb;
    --color-primarytwo: #20d6eb;
    --color-bluelight: #8DDEEE;
    --color-secondary: #2febf7;
    --color-neutral:  #8B8B8B;
    --color-yellow: #F8C845;
    --color-yellow2: #FCCC47;
    --color-dark-blue: #133447;
    --color-yellowone: #ffdd5f;
    --color-gray-one: #6C757D
}


.p-opacity{
  @apply text-gray-one  text-center text-["16px"] font-semibold
}

.btn-yellow{
  @apply w-[288px] h-[48px] bg-yellow text-dark-blue p-3 z-50 rounded-full
}

.btn-bluedark{
  @apply block  w-[288px] h-[48px] bg-dark-blue text-white p-3 rounded-full
}


.title{
  @apply text-center text-[28px] text-dark-blue
}




  .checkbox-wrapper-15 .cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  .checkbox-wrapper-15 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-15 .cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #ffffff;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-15 .cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 6px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-15 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
  }
  .checkbox-wrapper-15 .cbx span:last-child {
    margin-left: 8px;
  }
  .checkbox-wrapper-15 .cbx span:last-child:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #B9B8C3;
    transform-origin: 0 0;
    transform: scaleX(0);
  }
  .checkbox-wrapper-15 .cbx:hover span:first-child {
    border-color: #3c53c7;
  }

  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
    border-color: #3c53c7;
    background: #3c53c7;
    animation: check-15 0.6s ease;
  }
  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
  }
  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
    color: #B9B8C3;
    transition: all 0.3s ease;
  }
  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child:after {
    transform: scaleX(1);
    transition: all 0.3s ease;
  }

  @keyframes check-15 {
    50% {
      transform: scale(1.2);
    }
  }

